/* choose font style for header */
h1 {
    text-align: center;
    border: 5px dotted black;
    padding: 20px;
    font-family: Copperplate Gothic Light;
}

.player-1, .player-2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
}

/* choose font style for categories */

/* format boxes - spaced evenly, borders, animations */
.scoreboard {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    border: 1px solid black;
    justify-content: space-evenly;
    display: flex;
    min-height: 3vh;
    width: 21vh;
    font-family: Lucida Handwriting;
}

.a, .b, .c, .d, .e {
    border: 1px solid black;
    justify-content: space-evenly;
    display: flex;
    height: 70px;
    width: 20vh;
    padding-top: 55px;
}

/* style background of scoreboard - find an image(?) */