h1 {
    text-align: center;
    border: 5px dotted black;
    padding: 20px;
    font-family: Copperplate Gothic Light;
    background-color: yellow;
    margin-left: 60px;
    margin-right: 60px;
}

.scoreboard {
    display: flex;
    justify-content: space-evenly;
    
}

.all {
    width: 100%;
    position: absolute;
    display: inline-block;
    justify-content: center;
    height: 100%;
}

#modal {
    display: flex;
    justify-content: center;
}

#answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    border: 1px solid black;
    justify-content: space-evenly;
    display: flex;
    min-height: 3vh;
    width: 21vh;
    font-family: Lucida Handwriting;
    background-color: tomato;
}

.a, .b, .c, .d, .e {
    border: 1px solid black;
    justify-content: space-evenly;
    display: flex;
    height: 70px;
    width: 21vh;
    padding-top: 55px;
    background-color: skyblue;
}

/* Used code from codegrepper; this functionality proved easier than an eventListener, as the code is cleaner and allows for the same function */
.a:hover, .b:hover, .c:hover, .d:hover, .e:hover {
    background: linear-gradient(grey, grey);
    filter: none;
    transform: scale(1.10) rotate(720deg);
  }

/* style background of scoreboard - find an image(?) */

body {
    background-color: green;
    height: 100%;
}